<div class="jumbotron params-layout-jumbotron">
    <div class="container params-layout">
        <div class="row">

            <div class="col-md-4 col-md-offset-1 same-height-col" style="margin-top: 30px">
                <div class="form-group search-query">
                    <input type="text" ng-class="{loadinggif: loading === true}" class="form-control search-query" placeholder="Левое слово" name="queryStringLeft" ng-model="params.leftWord">
                    <!--<angucomplete-alt id="wordsLeft"
                                      placeholder="Левое слово"
                                      pause="400"
                                      selected-object="leftWord"
                                      remote-url="http://ams2.imilka.co/linksapi/public/words?query="
                                      remote-url-data-field="words"
                                      title-field="title"
                                      description-field="email"
                                      image-field="profilePic"
                                      input-class="form-control form-control-small"/>-->
                </div>
                <div>
                    <div class="checkbox" style="float: left;">
                        <label>
                            <input type="checkbox" ng-model="params.leftWordExactMatch"> точное совпадение
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-2 search-query same-height-col">
                <input type="text" ng-class="{loadinggif: loading === true}" class="form-control search-query" placeholder="предлог" name="queryPreposition" ng-model="params.preposition"> <!--ng-change="sendQuery(queryString)" -->
            </div>

            <div class="col-md-4 same-height-col" style="margin-top: 30px">
                <div class="form-group search-query">
                    <input type="text" ng-class="{loadinggif: loading === true}" class="form-control search-query" placeholder="Правое слово" name="queryStringRight" ng-model="params.rightWord"> <!--ng-change="sendQuery(queryString)" -->
                </div>
                <div style="float: right;">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="params.rightWordExactMatch"> точное совпадение
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-1 search-query same-height-col">
                <div class="btn btn-default form-control search-query" type="button" value="" ng-click="countQuery(queryStringLeft, queryStringRight)">
                    <i class="glyphicon glyphicon-search"></i>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 params-selector col-md-offset-3">
                <div class="row">
                    <label class="form-control">
                        Часть речи(Л)
                    </label>
                </div>
                <div class="row">
                    <div
                            multi-select
                            input-model="wordLeftProperties"
                            output-model="wordLeftSelectedProperties"
                            button-label="name"
                            default-label="Ничего не выбрано"
                            item-label="icon name maker"
                            tick-property="ticked"
                            class="width"
                            helper-elements="all none reset"
                            on-item-click="onClick()"
                            >
                    </div>
                </div>
            </div>

            <div class="col-md-3 params-selector">
                <div class="row">
                    <label class="form-control">
                        Часть речи(П)
                    </label>
                </div>
                <div class="row">
                    <div
                            multi-select
                            output-model="wordRightSelectedProperties"
                            input-model="wordRightProperties"
                            button-label="name"
                            default-label="Ничего не выбрано"
                            item-label="icon name maker"
                            tick-property="ticked"
                            class="width"
                            helper-elements="all none reset"
                            on-item-click="onClick()"
                            >
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped table-hover table-condensed">
                <thead>
                <th>Левое слово</th>
                <th>Часть речи(Л)</th>
                <th ng-if="prepositionsExist">Предлог</th>
                <th>Правое слово</th>
                <th>Часть речи(П)</th>
                <th>Кол-во связей</th>
                </thead>
                <tbody>
                <tr ng-repeat="link in data">
                    <td>{{link.wordLeft.word}}</td>
                    <td>{{link.wordLeft.partOfSpeechLong}}</td>
                    <td ng-if="prepositionsExist">{{link.preposition}}</td>
                    <td>{{link.wordRight.word}}</td>
                    <td>{{link.wordRight.partOfSpeechLong}}</td>
                    <td>{{link.count}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
