<div class="jumbotron params-layout-jumbotron">
  <div class="container params-layout">
    <div class="row">
      <div class="col-md-6 search-query">
          <input ng-change="countQuery(queryString)" type="text" class="form-control search-query" placeholder="Query" name="queryString" ng-init="getQueryString()" ng-bind="queryString" ng-model="queryString"> <!--ng-change="sendQuery(queryString)" -->
      </div>
      <div class="col-md-3 params-selector">
        <div class="row">
          <label class="form-control">
            Часть речи(Л)
          </label>
        </div>
        <div class="row">
          <div
              multi-select
              input-model="wordLeftProperties"
              output-model="arrayOfSelectedObjects"
              button-label="name"
              default-label="Ничего не выбрано"
              item-label="icon name maker"
              tick-property="ticked"
              class="width"
              helper-elements="all none reset"
              >
          </div>
        </div>
      </div>
      <div class="col-md-3 params-selector">
        <div class="row">
          <label class="form-control">
            Часть речи(П)
          </label>
        </div>
        <div class="row">
          <div
              multi-select
              input-model="wordRightProperties"
              button-label="name"
              default-label="Ничего не выбрано"
              item-label="icon name maker"
              tick-property="ticked"
              class="width"
              helper-elements="all none reset"
              >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div ui-view="query">
    </div>
  </div>
</div>

      <!--  <div class="col-md-1">
            <button class="btn btn-black btn-function" ng-click="countQuery(queryString)">
                Count
            </button>
        </div>

        <div class="col-md-1">

        </div>


        <div class="col-md-7">
            <div ui-view="query">
            </div>
        </div>

    </div>-->
</div>