<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<ion-content has-bouncing="false" >

    <div class="row">
        <div class="col col-20">
            <div
                    multi-select
                    input-model="wordProperties"
                    button-label="icon name"
                    item-label="icon name maker"
                    tick-property="ticked"
                    class="width"
                    >
            </div>
        </div>


        <div class="col col-10" style="margin: 1px;">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Query" name="queryString" ng-bind="queryString" ng-model="queryString" ng-change="sendQuery(queryString)" >
                </label>
        </div>
        <div class="col col-10">
            <div class="button button-dark width" ng-click="count(queryString)">
                Count
            </div>
        </div>

        <div class="col col-10">
            <ul id="options">
                <li> <div class="button button-light">Options</div>
                    <ul class="list">
                        <li class="item item-checkbox">
                            <label class="checkbox checkbox-dark">
                                <input type="checkbox" ng-model="wordLeft" ng-checked="wordLeft">
                            </label>
                            Левое слово
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox checkbox-dark">
                                <input type="checkbox" ng-model="partOfSpeechLongLeft" ng-checked="partOfSpeechLongLeft">
                            </label>
                            Часть речи(Л)
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox checkbox-dark">
                                <input type="checkbox" ng-model="wordRight" ng-checked="wordRight">
                            </label>
                            Правое слово
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox checkbox-dark">
                                <input type="checkbox" ng-model="partOfSpeechLongRight" ng-checked="partOfSpeechLongRight">
                            </label>
                            Часть речи (П)
                        </li>
                    </ul>
                </li>
            </ul>
        </div>



        <div class="col col-50">
            <ion-nav-view name="query">
            </ion-nav-view>
        </div>

    </div>




</ion-content>
</body>
</html>