<!--<div class="fullpage-div" ng-show="loading">
    <div class="spinner" ng-show="loading">
        <i class="icon-refresh"></i>
        LOADING
    </div>
</div>-->

<table class="table table-bordered table-striped table-hover table-condensed">
  <thead>
    <th>Левое слово</th>
    <th>Часть речи(Л)</th>
    <th>Правое слово</th>
    <th>Часть речи(П)</th>
    <th>Кол-во связей</th>
  </thead>
  <tbody>
    <tr ng-repeat="link in getData()">
      <td>{{link.wordLeft.word}}</td>
      <td>{{link.wordLeft.partOfSpeechLong}}</td>
      <td>{{link.wordRight.word}}</td>
      <td>{{link.wordRight.partOfSpeechLong}}</td>
      <td>{{link.count}}</td>
    </tr>
  </tbody>
</table>