<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <div class="fullpage-div" ng-show="loading">
        <div class="spinner" ng-show="loading">
            <i class="icon-refresh"></i>
            LOADING
        </div>
    </div>

    <div class="row">
        <div class="col-md-2" ng-show="wordLeft">
            Левое слово
        </div>
        <div class="col-md-2" ng-show="partOfSpeechLongLeft">
            Часть речи(Л)
        </div>
        <div class="col-md-2" ng-show="wordRight">
            Правое слово
        </div>
        <div class="col-md-2" ng-show="partOfSpeechLongRight">
            Часть речи(П)
        </div>
        <div class="col-md-2" ng-show="count">
            Кол-во связей
        </div>
    </div>
    <div class="container max-height no-overflow">
        <div class="row max-height">
            <!-- | filter: { wordLeft: {partOfSpeechLong: wordLeftProperties[0].name } } -->
            <div class="scrollable" ng-repeat="object in data">
                <div class="cell col-md-2" ng-show="wordLeft">
                    <div class="row">
                        {{object.wordLeft.word}}
                    </div>
                </div>
                <div class="cell col-md-2" ng-show="partOfSpeechLongLeft">
                    <div class="row">
                        {{object.wordLeft.partOfSpeechLong}}
                    </div>
                </div>
                <div class="cell col-md-2" ng-show="wordRight">
                    <div class="row">
                        {{object.wordRight.word}}
                    </div>
                </div>
                <div class="cell col-md-2" ng-show="partOfSpeechLongRight">
                    <div class="row">
                        {{object.wordRight.partOfSpeechLong}}
                    </div>
                </div>
                <div class="cell col-md-2" ng-show="wordRight">
                    <div class="row">
                        {{object.count}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>